header {
    text-align: center;
    background: url('/assets/images/trusael.svg') no-repeat left;
    padding-top: 50px;
    padding-bottom: 30px;
    border: 0;
}

.bg-trusael {
    background-color: #383838!important;
}

.btn-trusael {
    background-color: #383838!important;
    color: white!important;
}

.text-trusael {
    color: #383838!important;
}

body, .bg-bodyBackground {
    background-color: lightgray!important;
}

body, html {
  height: 100%;
  width: 100%;
}

.active {
    font-weight: bold;
}

/* On screens that are 768px or more (bootstrap medium) */
@media screen and (min-width: 768px) {
    img.logo {
      background: url('/assets/images/TRUSÆL-sm.png') no-repeat left;
      min-width: 131px;
      min-height: 50px;
      border: 0;
    }

    nav {
      background-color: #383838!important;
      color: white!important;
      min-width: 131px;
      min-height: 50px;
      margin-bottom: 1rem;
    }
    
    .font-color {
      color: white!important;
    }

    /* <img src="./assets/images/TRUSÆL-sm.png" alt="Trusael logo"> */
}

@media screen and (max-width: 767px) {
    img.logo  {
      background: url('/assets/images/TRUSÆL-sm.png') no-repeat left;
      min-width: 131px;
      min-height: 50px;
      border: 0;
    }  

    nav {
      background-color: #383838!important;
      color: white!important;
      min-width: 131px;
      min-height: 50px;
      margin-bottom: 1rem;
    }

    .font-color {
        color: white!important;
    }
}

.bg {
    background-image: url("/assets/images/merged2-BW.jpg");
    height: 100%;
    background-position: center 75%;
    background-repeat: no-repeat;
    background-size: cover;
}

.font-size-sm {
    font-size: 1rem!important;
}

.dashboard-container {
    margin: 0;
    width: 100%;
    padding-right: 0!important;
    padding-left: 0!important;
    padding-bottom: 0!important;
}

.dashboard-row {
    padding-bottom: 3rem;
    padding-left: 1rem;
}

.dashboard-col {
    padding: 0;
}

.dashboard-card-section {
    padding: 0!important;
    border: 0!important;
    margin-top: 0;
    margin-bottom: 1rem;
}

.dashboard-card-header {
    padding: 0!important;
}

.dashboard-card-header-margin {
    margin-bottom: 0;
}

.dashboard-card-button-signed, .dashboard-card-button-active {
    font-weight: bold;
    color: white;
    padding: .5rem;
    border-radius: .25rem;
}

.dashboard-card-button-active {
    background-color: #28a745;
}

.dashboard-card-button-signed {
    background-color: #343a40;
}

.dashboard-card-button-section, .dashboard-card-button-address {
    display: flex!important;
    color: white!important;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
    padding: .2rem!important;
}

.dashboard-card-button-section {
    background-color: #6c757d!important;
}

.dashboard-card-button-address {
    background-color: #adb3b8!important;
}

.dashboard-card-button-text {
    padding: 0.65rem;
}

.dashboard-card-address {
    padding: 0 0 0 1rem!important;
    border: 0;
    background-color: lightgray!important;
}

.dashboard-card-body {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa!important;
}

#frontJumbo{
    height: 30vh;
    font-family: 'Roboto', sans-serif;
    background: url('/assets/images/TRUSÆL.png') no-repeat center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.frontButton {
    width: 35%;
    margin-bottom: 1rem;
}

.frontSlogan {
    font-weight: bold;
    font-size: 2em;
}

.fa-1x {
    font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
}

.dark-blue-text {
    color: #0A38F5;
}

#buyer_value_estimate {
    width: 80%;
    /* Width of the outside container */
}

#buyer_value_slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 80%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    align-content: center;
}


/* Mouse-over effects */

#buyer_value_slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

#buyer_value_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #1570C1;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

#buyer_value_slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

#other_reason_text {
    width: 60%;
}

#bid_too_low,
#off_market,
#agt_extras,
#other,
#other_text {
    display: inline-block;
}


.custom-checkbox {
    display: inline-block; 
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 8em;
}


.card{
    padding: 20px;
    border-right: none;
}

#listingsHeader{
    text-align: center;
}
#bidsHeader{
    text-align: center;
}